body{
    background-color: rgb(125, 238, 232);
    top: 0;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.layout{
    border: groove .5px gray;
    border-radius: 10px;
    position: relative;
    width: 90%;
    height: 80vh;
    top: 50px;
    margin-left: 60px;
}
.container{
    background-image: linear-gradient( to bottom right,black,white);
    margin: 12px;
    border-radius:10px;
    width: 98%;
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.nav-bar h3{
    color: white;
    position: absolute;
    top: 6px;
    left:70px;
    font-size: 25px;
    font-weight: 900;
}
#logo{
    height: 20px;
    width: 20px;
    background-color: rgb(125, 238, 232);
    position: absolute;
    top: 35px;
    left: 50px;
}
 #btn1{
    position: absolute;
    right:180px;
    top: 30px;
    border:solid 1px black;
    border-radius:30px;
    background:none;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
    word-spacing: 3px;
}
#btn2{
    position: absolute;
    right: 20px;
    top: 30px;
    border: none;
    border-radius: 30px;  
    background-color: rgb(125, 238, 232);
    color: black;
    padding: 5px 10px;
    font-weight: 700;
    word-spacing:3px;
}
.nav-bar li{
    list-style-type: none;
    text-align: center;
    display:inline-block;
    margin-right:20px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.nav-bar ul{
    margin-left:25%;
}
.plus{
    color:rgb(125, 238, 232);
    margin-left:5px;
}
.nav-bar{
    border-bottom: groove 1px black;
}
.content{
    text-align: center;
    position: relative;
    top: 50px;
}
.content h3{
    color: whitesmoke;
    font-size: 10px;
    word-spacing: 3px;
}
.content h1{
    color: white;
    font-weight:900;
    font-size:40px;
}
.btn-1{
    border:none;  
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 12px;
    padding-right: 45px;
}
.btn-2{
    border:none;  
    background-color: rgb(125, 238, 232);
    color: black;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 12px;
    padding-right: 45px;
}
#arr1{
    background-color: rgb(61, 59, 59);
    color: rgb(125, 238, 232);
    position: absolute;
    bottom: 2px;
    padding: 9px 9px;
    border-radius: 9px;
    margin-left: 10px;
}
#arr2{
    background-color: black;
    color: rgb(125, 238, 232);
    position: absolute;
    bottom: 2px;
    padding: 9px 9px;
    border-radius: 9px;
    margin-left: 10px;
}
.container svg{
    display: block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}