* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: "Outfit", sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    margin: 10rem 8rem;
    display: flex;
    border-radius: 20px;
    border: solid 10px aqua;
    outline: solid 1px black;
    background: linear-gradient(0deg, rgba(26, 24, 24, 1) 1%, rgb(47, 54, 54) 10%, rgba(0, 0, 0, 1) 100%);
    color: white;
    position: relative;
}

#box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: aqua;
    display: inline;
    position: absolute;
}

.header {
    margin-bottom: 2rem;
    display: flex;
    position: absolute;
    top: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.logo {
    margin-left: 10px;
    display: inline-flex;
}

.logo span {
    margin-left: 40px;
    margin-top: 5px;
}

.nav-menu li {
    list-style: none;
    display: inline;
    color: white;
    font-size: 10px;
    padding-left: 30px;
}

.nav-menu ul {
    margin-left: 12rem;
    margin-top: 5px;

}

.nav-menu span {
    position: absolute;
    right: 10px;

}

.plus {
    color: aqua;
    padding-left: 5px;
}

.buttons {
    position: absolute;
    top: -1px;
}

.button1 {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 9px;
    border: 0.5px solid rgb(144, 144, 144);
    cursor: pointer;
}

.button2 {
    color: black;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 9px;
    cursor: pointer;
    border: 1px solid black;
}


.line {
    width: 100%;
    border-top: 0.2px rgb(144, 144, 144) solid;
    position: absolute;
    top: 40px;
    left: 0;
}

.title {
    font-size: 2rem;
    padding: 10rem 8rem;
    position: relative;
}

.title p {
    font-size: 10px;
    text-align: center;
    color: rgb(184, 184, 184);

}

.title h2 {
    text-align: center;
    margin-top: 20px;
}

.services {
    text-align: center;
    margin-top: 20px;
}


#button1-space {
    margin-right: 12px;
    border: 1px black solid;
    padding: 0px;
    padding-left: 10px;

}

#button2-space {
    padding: 0px;
    padding-left: 10px;
}

.arrow1 {
    background-color: rgb(55, 55, 55);
    color: aqua;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 10px;
    margin-left: 5px;
    padding: 12px;
}

.arrow2 {
    background-color: black;
    color: aqua;
    border-radius: 7px;
    border: 1.5px solid aqua;
    font-size: 10px;
    margin-left: 5px;
    padding: 12px;
}